body {
font-family: 'Original Surfer', cursive;
margin: 0;
width: 100%;
height: 100vh;
background-image: url("../images/home.jpg");
background-size: cover;
background-repeat: no-repeat;
}

body.clear {
  background: none;
  background-color: #46bcec;
}

a{
  color: #f2f2f2;
}

h2 {
  color: #fff;
}

.form-control, .btn.btn-primary {
  border: 2px solid #0E2B41;
}

.surfpic {
  width: 558px;
  height: 350px;
}

#map {
  width: 100%;
  height: 94vh;
  margin: 0 auto;
}

.modal-content, .modal-body {
  background: #46BCEC;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

.modal-content, .modal-body, .form-group {
  padding: 10px;
}

.tab-content>.active {
  color: #fff;
}

div.navbar-header {
  padding: 10px;
}

.navbar-nav {
  width: 600px;
}

.nav>li>a:hover {
  background-color: transparent;
  text-decoration: none;
}

ul.nav.navbar-nav {
  padding: 10px;
}

li.nav-item {
  width: 75px;
}

ul.nav.navbar-nav.navbar-right {
  width: 250px;
}

.nav>li>a>img {
  max-width: 60%;
  border-radius: 50px;
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 10px;
}

.navbar-nav>li>a:visited {
  background-color: transparent;
  text-decoration: none;
}

iframe {
  width: 100%;
}



.card-deck-wrapper {
  width: 750px;
  margin: 0 auto;
}

card col-md-4 {
  width: 200px;
  float: left;
}
.card-img-top {
  width: 200px;
  height: 200px;
}
