body {
font-family: 'Original Surfer', cursive;
margin: 0;
width: 100%;
height: 100vh;
background-image: url("../images/home.jpg");
background-size: cover;
background-repeat: no-repeat;
}

body.clear {
  background: none;
  background-color: #46bcec;
}

a{
  color: #f2f2f2;
}

.navbar-nav>li>a:hover {
  background-color: transparent;
  text-decoration: none;
}

#map {
  width: 100%;
  height: 94vh;
  margin: 0 auto;
}

.modal-content, .modal-body {
  background: #7B85AD;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

.modal-content, .modal-body, .form-group {
  padding: 10px;
}

div.navbar-header {
  padding: 10px;
}

ul.nav.navbar-nav {
  padding: 10px;
}

// .navbar-nav>li>a {
//   width: 30%;
// }
//
// .navbar-nav>li>a:hover {
//   background-color: none;
// }
//
// .nav>li>a>img {
//   max-width: 30%;
//   border-radius: 10px;
// }

iframe {
  width: 100%;
}
